# Managed by install_pi_zero_gateway.sh.
STA_IFACE=${STA_IFACE}
AP_IFACE=${AP_IFACE}
AP_ADDRESS=${AP_ADDRESS}
AP_CIDR=${AP_CIDR}
AP_SUBNET=${AP_SUBNET}
AP_CHANNEL=${AP_CHANNEL}
FOXESS_CLOUD_IPS="${FOXESS_CLOUD_IPS}"
ENABLE_NAT=${ENABLE_NAT}
ENABLE_REDIRECT=${ENABLE_REDIRECT}
DAEMON_PORT=${DAEMON_PORT}
